{% extends "layout.html" %}
{% block content %}
        
        <div class="col-md-12">
            <div class="content-section">
                
                <legend class="border-bottom mb-4">Input Data</legend>
                <fieldset class="form-group">
                    <form method=post enctype=multipart/form-data>
                        <input type=file name=file class="orm-control form-control-lg is-invalid">
                        <input type=submit value=Process class="btn btn-outline-info">
                    </form>
                </fieldset>

            </div>
        </div>
        {% if std_before %}
        <div class="col-md-12">
            <div class="content-section">  
                <legend class="border-bottom mb-4">STD sebelum preprocessing</legend>
                {{ std_before }} <br>
            </div>
            <div class="content-section">  
                <legend class="border-bottom mb-4">STD setelah preprocessing</legend>
                {{ std_after }}
            </div>
            <div class="content-section">  
                <legend class="border-bottom mb-4">Jumlah data sebelum preprocessing</legend>
                {{ n_before }} 
            </div>
            <div class="content-section">  
                <legend class="border-bottom mb-4">Jumlah data setelah preprocessing</legend>
                {{ n_after }}
            </div>
            <div class="content-section">  
                <legend class="border-bottom mb-4">List data yang dihapus</legend>
                <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Time</th>
                                <th scope="col">nT</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for id, time, nt in no|zip(data_hapus, time_hapus) %}
                            <tr>
                                <td>{{ id }}</td>
                                <td>{{ time }}</td>
                                <td>{{ nt }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                                

            </div>
                
            
        </div>
        {% endif %}
        
{% endblock %}
